<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology Two</title>
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
     

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    <!-- туту посилання на іконки фейсбук,інстаграм, ютуб-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <header class="header">
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
        <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></div>
    </header>
    <main>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-stars-say.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-personal-readings.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-personal-consultation.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-horoscope.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-contacts-one.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-astrology-school.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-time-days.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-testimonials.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-my-books.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-instagram.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-kate-sun.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-contact-form-two.partial.html"></section>

        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.section-contacts.partial.html"></section>
    </main>
    <footer>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></nav>
    </footer>
  </body>
</html>
